.add-form {
  background-color: #c8e6c9;
  border-radius: 12px;
  margin: 50px auto;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  height: 180px;
  transition: 0.5s;
}
.add-form-change {
  height: 650px;
  background-color: #c8e6c9;
  border-radius: 12px;
  margin: 50px auto;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  transition: 0.5s;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.add-input {
  height: 40px;
  width: 240px;
  border: none;
  border-radius: 12px;
  padding: 0 12px;
  background-color: #fff;
  color: #333;
}

.add-button {
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  width: 140px;
  color: #333;
  font-weight: bold;
  transition: 0.5s;
  border: 2px solid transparent;
}
.add-button:hover {
  background-color: #c8e6c9;
  border: 2px solid #fff;
  color: #333;
  font-weight: bold;
  transition: 0.5s;
}
