.todo-container {
  width: 270px;
  /* height: 150px; */
  border: 4px solid #5c695c;
  border-radius: 12px;
  padding: 12px 24px 24px 24px;
}

.button-set {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.button {
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.todo-delete-button {
  border: 2px solid #ff867c;
  background-color: transparent;
  transition: 0.3s;
}
.todo-delete-button:hover {
  background-color: #ff867c;
  border: 2px solid #c8e6c9;
  color: #fff;
}

.todo-complete-button {
  border: 2px solid #73b072;
  background-color: transparent;
  transition: 0.3s;
}

.todo-complete-button:hover {
  border: 2px solid transparent;
  background-color: #73b072;
  color: #fff;
}
